Trying to make regressor with our dataset

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import PIL
import requests
import seaborn as sns
import pandas as pd
import scipy
import os
from glob import glob

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [3]:
os.getcwd()

'/Users/christineromano/DSI_Course/DSI_Capstone_Project'

In [4]:
cleaned_df = pd.read_excel('ttc-streetcar-delay-data-2024_cleaned.xlsx', index_col=None)
cleaned_df.head()

,Date,Line,Time,Day,Location,Incident,Min Delay,Min Gap,Bound,Vehicle,Month,Week,Day of Month,Hour of Day,Season
0,2024-04-28,301,03:54,Sunday,WOLSELEY LOOP,Cleaning - Unsanitary,30,60,E,8118,4,18,28,3,Spring
1,2024-09-14,301,02:23,Saturday,WOLSELEY LOOP,Utilized Off Route,30,60,W,8112,9,37,14,2,Summer
2,2024-01-28,301,02:11,Sunday,WARDEN AND COMSTOCK,Mechanical,10,20,W,8734,1,5,28,2,Winter
3,2024-11-15,301,02:35,Friday,THE QUEENSWAY AND WIND,Security,24,39,W,4588,11,46,15,2,Fall
4,2024-08-25,301,03:11,Sunday,THE QUEENSWAY AND GLEN,Mechanical,10,30,E,4569,8,35,25,3,Summer

In [5]:
# We have decided to drop some of these columns for analysis.  The "Date" column is subdivided into additional columns and can be removed, 
# the "Location" column will be removed due to lack of cleaned data, the "Time" column will be removed as it is substituted by "Hour of Day"

# Will also drop any blank values, as required for linear regression

cleaned_df_dropped = cleaned_df.drop(columns = ['Date', 'Time', 'Location'])
cleaned_df_dropped = cleaned_df_dropped.dropna()
cleaned_df_dropped.head()

,Line,Day,Incident,Min Delay,Min Gap,Bound,Vehicle,Month,Week,Day of Month,Hour of Day,Season
0,301,Sunday,Cleaning - Unsanitary,30,60,E,8118,4,18,28,3,Spring
1,301,Saturday,Utilized Off Route,30,60,W,8112,9,37,14,2,Summer
2,301,Sunday,Mechanical,10,20,W,8734,1,5,28,2,Winter
3,301,Friday,Security,24,39,W,4588,11,46,15,2,Fall
4,301,Sunday,Mechanical,10,30,E,4569,8,35,25,3,Summer

In [6]:
cleaned_df_dropped.dtypes

Line             int64
Day             object
Incident        object
Min Delay        int64
Min Gap          int64
Bound           object
Vehicle          int64
Month            int64
Week             int64
Day of Month     int64
Hour of Day      int64
Season          object
dtype: object

In [7]:
# Use one hot encoder to encode categorical variables

encoded_df = pd.get_dummies(cleaned_df_dropped, columns=['Day', 'Incident', 'Bound', 'Season'], drop_first=True)
encoded_df

,Line,Min Delay,Min Gap,Vehicle,Month,Week,Day of Month,Hour of Day,Day_Monday,Day_Saturday,...,Incident_Overhead,Incident_Rail/Switches,Incident_Security,Incident_Utilized Off Route,Bound_N,Bound_S,Bound_W,Season_Spring,Season_Summer,Season_Winter
0,301,30,60,8118,4,18,28,3,False,False,...,False,False,False,False,False,False,False,True,False,False
1,301,30,60,8112,9,37,14,2,False,True,...,False,False,False,True,False,False,True,False,True,False
2,301,10,20,8734,1,5,28,2,False,False,...,False,False,False,False,False,False,True,False,False,True
3,301,24,39,4588,11,46,15,2,False,False,...,False,False,True,False,False,False,True,False,False,False
4,301,10,30,4569,8,35,25,3,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13919,512,0,0,7006,4,17,22,15,True,False,...,False,False,False,False,False,False,True,True,False,False
13920,512,8,15,8337,2,8,18,19,False,False,...,False,False,False,False,False,False,False,False,False,True
13921,512,10,20,8799,4,16,19,20,False,False,...,False,False,False,False,False,False,True,True,False,False
13922,512,4,8,8295,2,8,20,16,False,False,...,False,False,False,False,False,False,False,False,False,True
13923,512,5,10,8860,5,20,13,16,True,False,...,False,False,False,False,False,False,False,True,False,False

In [8]:
'''

numeric_features = ['Line', 'Min Gap', 'Vehicle', 'Month', 'Week', 'Day of Month', 'Hour of Day']
categorical_features = ['Day', 'Incident', 'Bound', 'Season']

# Initialize the StandardScaler
scaler = StandardScaler()

# Scale all the features in the dataset
scaled_features = scaler.fit_transform(encoded_df[numeric_features])

# Create a new DataFrame with scaled features
scaled_df = pd.DataFrame(scaled_features, columns=numeric_features)

# Display the first few rows of the scaled DataFrame
print(scaled_df.head())'''

"\n\nnumeric_features = ['Line', 'Min Gap', 'Vehicle', 'Month', 'Week', 'Day of Month', 'Hour of Day']\ncategorical_features = ['Day', 'Incident', 'Bound', 'Season']\n\n# Initialize the StandardScaler\nscaler = StandardScaler()\n\n# Scale all the features in the dataset\nscaled_features = scaler.fit_transform(encoded_df[numeric_features])\n\n# Create a new DataFrame with scaled features\nscaled_df = pd.DataFrame(scaled_features, columns=numeric_features)\n\n# Display the first few rows of the scaled DataFrame\nprint(scaled_df.head())"

In [9]:
X = encoded_df.drop(columns = 'Min Delay')
y = encoded_df['Min Delay']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, random_state=42)

print(X_train.shape[0])
print(y_train.shape[0])

8964
8964

In [10]:
y_train

4597      0
632      10
11108    28
13497    10
9511     10
         ..
13187    10
5936     10
6194      5
1019     10
8501     35
Name: Min Delay, Length: 8964, dtype: int64

In [11]:
lm = LinearRegression()

In [12]:
lm.fit(X_train, y_train)

# Create a DataFrame containing the slope (coefficients) and intercept
coefficients_df = pd.DataFrame({
    "predictor": encoded_df.drop(columns = 'Min Delay').columns,
    "slope": lm.coef_,
    "intercept": [lm.intercept_] * len(lm.coef_)
})

# Display the coefficients DataFrame
print(coefficients_df)

r2 = lm.score(X_train, y_train)
print(r2)

# lm.coef_ gives the coefficients for each predictor (change in miles per gallon per unit change in each predictor variable)
# lm.intercept_ gives the intercept b_0 (the predicted miles per gallon when all predictors are set to 0)

                            predictor     slope  intercept
0                                Line  0.031875 -27.199577
1                             Min Gap  0.918559 -27.199577
2                             Vehicle  0.000139 -27.199577
3                               Month  1.593853 -27.199577
4                                Week -0.370037 -27.199577
5                        Day of Month  0.054292 -27.199577
6                         Hour of Day  0.006344 -27.199577
7                          Day_Monday  0.837433 -27.199577
8                        Day_Saturday  0.629717 -27.199577
9                          Day_Sunday  0.909451 -27.199577
10                       Day_Thursday  0.677459 -27.199577
11                        Day_Tuesday  1.120203 -27.199577
12                      Day_Wednesday  0.843457 -27.199577
13  Incident_Collision - TTC Involved  3.605856 -27.199577
14                 Incident_Diversion  3.662440 -27.199577
15        Incident_Emergency Services  2.457218 -27.199577
16             Incident_General Delay  5.018266 -27.199577
17                   Incident_Held By  1.934212 -27.199577
18             Incident_Investigation  2.356826 -27.199577
19                Incident_Mechanical  1.437145 -27.199577
20                Incident_Operations  1.558391 -27.199577
21                  Incident_Overhead  7.389307 -27.199577
22             Incident_Rail/Switches  6.832285 -27.199577
23                  Incident_Security  3.061137 -27.199577
24        Incident_Utilized Off Route  1.556939 -27.199577
25                            Bound_N -0.055382 -27.199577
26                            Bound_S  0.034193 -27.199577
27                            Bound_W -0.281275 -27.199577
28                      Season_Spring  0.096937 -27.199577
29                      Season_Summer -0.274758 -27.199577
30                      Season_Winter -0.242020 -27.199577
0.9396187469883707

In [13]:
y_pred = lm.predict(X_test)

In [14]:
rmpse = mean_squared_error(
    y_test, y_pred
)**0.5
rmpse

6.266689110654062

In [15]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
rmse

6.266689110654062